// Login
* {
  margin: 0;
  padding: 0;
}
body {
  background: $light-gray;
}

main {
  background: white;
  min-height: 550px !important;
  border-radius: 27px;

  .left {
    background: url(../assets/bg.svg) center center;
    background-size: cover;
    box-shadow: 0 3px 6px #888888;
    border-top-left-radius: 27px;
    border-bottom-left-radius: 27px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;

    .button.myprimary {
      width: 40%;
      border-radius: 12px;
      color: $white;
      font-weight: bold;
    }
    .button.myprimary:hover {
      border-radius: 12px;
    }
    h4 {
      color: $mygray;
    }

    .form__login {
      width: 40%;
    }
    input[type="text"],
    input[type="password"] {
      border-radius: 9px;
      text-align: center;
    }
    cite {
      position: absolute;
      bottom: 1rem;
    }
  }
  .right {
    box-shadow: 3px 3px 6px #888888;
    background: url(../assets/pattern2.png) center center;
    background-size: cover;
    border-top-right-radius: 27px;
    border-bottom-right-radius: 27px;
    padding: 1rem;
    color: white;

    .image {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background: $white;
      margin-bottom: 1rem;
    }
    .__fix {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 3.5rem;
    }
    .button.myprimary {
      padding-left: 1rem;
      padding-right: 1rem;
      border-radius: 12px;
      background: white;
      font-weight: bold;
      box-shadow: 0 3px 6px #888888;
      color: #707070;
    }
    .button.myprimary:hover {
      background: $light-green;
      color: $white;
    }
    img {
      width: 150px;
      border-radius: 50%;
      margin: 1rem;
    }
    .name {
      text-align: center;
      p {
        margin-bottom: 0;
        line-height: 0;
      }
      h1 {
        font-size: 4rem;
      }
    }
  }
}
.__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
// login
// dashboard
.__main {
  background: white;
  margin: 1rem;
  border-radius: 20px;
  padding-top: 1rem;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 1rem;

  .__logo {
    text-align: center;
    .logo {
      width: 100px;
      height: 100px;
      background: white;
      border: 1px solid $mygray;
      margin: 0 auto;
      border-radius: 50%;
    }
  }
}
.__head {
  background: url(../assets/head.png) center center no-repeat;
  background-size: cover;
  color: white;
  border-radius: 12px;

  .__head-top {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.1rem;
    .__head-user {
      display: flex;

      .__head-user-info {
        align-self: flex-end;
      }
    }
    .sample {
      width: 50px;
      height: 50px;
      background: $white;
      border-radius: 50%;
      margin-right: 0.5rem;
    }
    a {
      align-self: flex-end;
      color: $white;
      font-size: 14px;
    }
    h4 {
      align-self: center;
      margin: 0;
    }
  }

  .__head-bottom {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    hr {
      padding: 0;
      margin: 0;
    }
    p {
      margin-top: 0.5rem;
      margin-bottom: 0;
      font-size: 12px;
    }
  }
}
.__sidebar {
  background: url(../assets/pattern2.png) center center no-repeat;
  background-size: cover;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 90px;
  text-align: center;

  .__sidebar-menu {
    margin-top: 5rem;
    padding: 1rem;
    font-size: 14px;
    .selected {
      padding: 0.5rem;
      border: 1px solid white;
      border-radius: 6px;
    }
    li {
      margin-bottom: 1rem;

      a {
        color: $white;
        font-weight: bold;
      }
    }
  }
  .contact {
    font-size: 10px;
    color: $white;
    border: 1px solid $white;
    border-radius: 6px;
    margin: 1rem;
    padding: 0.2rem;

    p {
      margin: 0;
    }
  }
}
.__content--dash {
  padding: 1rem;
  padding-top: 0;
  text-align: center;
  h3 {
    text-align: center;
    font-weight: bold;
    color: #69a6bc;
    margin: 1rem;
  }

  .__card-list {
    display: flex;
    justify-content: space-around;

    flex-wrap: wrap;

    li {
      margin: 0.3rem;
      font-size: 12px;
      max-width: 210px;
      .card {
        border-radius: 12px;
        .card-divider {
          display: flex;
          flex-direction: column;
          color: $white;
          p {
            justify-self: flex-start;
            align-self: flex-start;
            margin: 0;
          }
          div {
            i {
              font-size: 72px;
              line-height: 0;
            }
          }
        }
      }
    }
    li:nth-child(1) {
      .card-divider {
        background: #66bec0;
      }
    }
    li:nth-child(2) {
      .card-divider {
        background: #6a94ba;
      }
    }
    li:nth-child(3) {
      .card-divider {
        background: #7e7dbc;
      }
    }
    li:nth-child(4) {
      .card-divider {
        background: #656fad;
      }
    }
  }

  button {
    color: white !important;
    font-weight: bold;
    border-radius: 6px;
  }
}
.__content--election {
  padding: 1rem;
  padding-top: 0;

  .mybtn {
    color: white;
    margin: 0;
    margin-top: 1rem;
    border-radius: 6px;
  }

  .__table-layout {
    margin-top: 1rem;
    font-size: 0.8rem;
    border-radius: 12px;
    box-shadow: 0 1px 3px #888888;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;

    input,
    select {
      height: 2rem;
      font-size: 0.8rem;
    }
    .__table-heading {
      background: #6aa6bd;
      margin: -1rem -1rem 1rem -1rem;
      border-top-right-radius: 12px;
      border-top-left-radius: 12px;
      padding: 0.5rem;
      color: $white;

      h5 {
        margin: 0;
      }
    }
  }
  .__table {
    text-align: center;
    border-radius: 12px !important;
    th {
      font-size: 0.7rem;
      text-align: center;
    }
  }
}
.__footer {
  text-align: center;
  font-size: 12px;
  color: $mygray;
  hr {
    margin: 0;
    margin-bottom: 1rem;
  }
}
.small-text {
  margin: 0;
  padding: 0;
  line-height: 1rem;
  font-size: 12px;
}
.edit,
.remove {
  color: $white !important;
  font-size: 1rem;
  margin: 0;
  padding: 0.5rem;
  border-radius: 5px;
}
.badge {
  border-radius: 2px !important;
  padding: 0.2rem;
}
// dashboard

// // dash
// .__body {
//   border-radius: 27px;
//   background: $white;
//   margin-top: 1rem;
//   height: 600px;
//   margin-bottom: 1rem;
//   box-shadow: 0 1px 3px #888888;
// }
// .__sidebar {
//   .image {
//     width: 120px;
//     height: 130px;
//     background: $light-green;
//     margin: 0 auto;
//     margin-top: 1rem;
//     margin-bottom: 1rem;
//   }
//   .__sidebar-list {
//     background: url(../assets/pattern2.png) center center;
//     background-size: cover;
//     border-top-right-radius: 60px;
//     border-bottom-left-radius: 27px;
//   }
// }
// .__content-head {
//   padding: 1rem;
// }
// .__sidebar {
//   .__sidebar-menu {
//     text-align: center;
//     margin-top: 5rem;

//     li {
//       margin: 1rem;

//       a {
//         color: $white;
//         font-weight: bold;
//       }
//     }
//   }
//   .contact {
//     border: 1px solid white;
//     border-radius: 12px;
//     text-align: center;
//     font-size: 10px;
//     margin: 1rem;
//     color: white;
//     padding-top: 1rem;
//     padding-bottom: 1rem;
//     p {
//       line-height: 0;
//     }
//   }
// }
// .sample {
//   background: red;
//   width: 50px;
//   height: 50px;
//   border-radius: 50%;
// }
// .head {
//   max-height: 130px;
//   background: url(../assets/head.png) center center;
//   background-size: cover;
//   border-radius: 7px;

//   .__head-container {
//     margin: 1rem;
//   }
//   .__head-top {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//   }
// }
// .__content {
//   background: url(../assets/body.png) center center no-repeat;
//   background-size: contain;
// }
// .__content-main {
//   text-align: center;

//   h3 {
//     margin: 1.5rem;
//     font-weight: 700;
//     color: #69a6bc;
//   }
// }
// .__card-list {
//   display: flex;
//   justify-content: space-around;

//   li {
//     margin: 0;
//     padding: 0;
//   }
// }

// .card {
//   border-radius: 12px;
//   margin: 1rem;
//   font-size: 12px;
// }
// .__footer {
//   line-height: 0;
//   text-align: center;
// }
// .selected {
//   padding: 0.5rem;
//   border: 1px solid white;
//   border-radius: 4px;
// }
// dash
